<h4><%= flash[:notice] %></h4>
<div id="form">
  <%= form_for @mytask, url: create_path do |f| %>
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>

    <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>
  <% end %>

</div>
