<div class="form">
  <%= form_for @mytask, url: create_path do |f| %>
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>

    <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit 'New task', :class => 'btn' %>

  <h4><%= flash[:notice] %></h4>

  <% end %>

</div>
