<article>
  <h2> <a href="<%= @mytask[:id] %>"> <%= @mytask[:title].upcase %> </a> </h2>
  <h3> Description: <%= @mytask[:description] %> </h3>
  <h3> Completed at: <%= @mytask[:completed_at] %> </h3>
  <h3> Completed? <%= @mytask[:completion_status] %> </h3>
  <p> <%= link_to("Edit", edit_path(@mytask[:id])) %></p>
  <p> <%= link_to("Delete", destroy_path(@mytask[:id]), method: :delete) %></p>
</article>
