<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Taskmaster</h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Task", new_path %></li>
        <li><a href="http://www.leekspin.com">Party</a></li>
        <li><%= link_to "Login via Github", "/auth/github" %></li>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>
