<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Taskmaster</h1>
    <nav>
      <ul>
        <% if session[:user_id] == nil %>
          <li><%= link_to "Login via Github", "/auth/github" %></li>
        <% else %>
          <li><%= link_to "Logout", sessions_destroy_path, method: :delete %></li>
          <li><%= link_to "New Task", new_path %></li>
        <% end %>
        <li><a href="http://www.leekspin.com">Party</a></li>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>
